@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:  var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-custom {
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.label-info {
  @apply block text-sm font-medium text-pink-600
}

.input-info {
  @apply w-full px-4 py-2 text-gray-500 border rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500
}

.button-info {
  @apply w-full bg-pink-600 text-white py-2 rounded-lg hover:bg-pink-700 transition-colors
}

/* Tất cả button và link có cursor pointer */
button, a {
  cursor:  pointer;
}

/* Button disabled thì cursor not-allowed */
button:disabled {
  cursor: not-allowed;
}
